@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
}

/* Typographie */
h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

p{
    font-size: 16px;
}

h1, h2, h3{
    font-family: "Libre Baskerville", serif;
}


/* Boutons */
section a:not(#contact a){
    background-color: #F9E6E0;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0.6rem 0;

    text-decoration: none;
    color: black;
    font-family: "Libre Baskerville", serif;

    transition: 0.3s;
}

section a:hover:not(#contact a){
    box-shadow: 2px 2px rgba(0, 0, 0, 0.411);
}

ul li a{
    color: black;
    text-decoration: none;

    font-family: "Libre Baskerville", serif;
    font-weight: 500;
}

ul li{
    transition: 0.3s;
}

ul li:hover{
    transform: scale(1.125);
}


/* Commandes supplémentaires */

.text-center{
    text-align: center;
}

.flex-column{
    flex-direction: column;
    display: flex;
}



/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
    align-content: center;
}

    /* Header > Navbar */
    header nav{
        width: 45%;
    }

        /* Nav bar > Ul */
        header ul{
            display: flex;
            justify-content: space-between;
        }

            /* Ul > Li */
            header nav ul li{
                list-style: none;
            }


    header img{
        width: 10%;
    }


/* Section Présentation */
#présentation{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
    min-height: 80vh;
    align-content: center;
    align-items: center;
    margin-bottom: 20vh
}

    #présentation div{
        width: 60%;
        height: 40vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        padding: 3rem 4rem;
        box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.151);
        background-color: white;

        position: absolute;
        right: 200px;
    }


    #présentation img{
        width: 30%;
        height: 80vh;

        position: relative;
    }



    /* Section à propos */
    #about{
        display: flex;
        width: 80vw;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 20vh;
    }
    
        #about div{
            width: 50%;
        }

        
        #about img{
            width: 35%;
        }



    /* Section Services  */

    #services{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 150px;
    }

        #services h1{
            margin-bottom: 100px;
        }

    
        #services article img{
            width: 250px;
            height: 360px;
            object-fit: cover;
        }

        #services .left{
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            margin-bottom: 10vh;
        }

            #services .left div{
                width: 100%;
                margin-left: 3vw;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }


        #services .right{
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            flex-direction: row-reverse;
            float: right;
            margin-bottom: 10vh;
        }

            #services .right div{
                text-align: right;
                margin-right: 3vw;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }


        #services a{
            margin: 0 auto;
            width: 20%;
        }




    /* Section Pourquoi Anna */
    #pourquoi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100vw;
        align-content: center;
        align-items: center;
    }

        /* Articles */
        #pourquoi .row-1, #pourquoi .row-2{
            display: flex;  
            justify-content: center;
        }

            #pourquoi article{
                width: 25%;
                background-color: #F9E6E0;
                margin: 2rem;
                padding: 2rem;
            }

                #pourquoi i{
                    background-color: rgb(255, 255, 255);
                    padding: 15px;
                    border-radius: 50px;
                    margin-bottom: 20px;
                    font-size: 2em;
                }


    /* Section Contact */
    #contact{
        display: flex;
        width: 80%;
        margin: 0 auto;
        height: 100vh;

        align-items: center;
    }

        /* Container Rose - Gauche */
        #contact .container{
            width: 60%;
            background-color: #F9E6E0;
            padding: 3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            padding-bottom: 10%;

            position: relative;
        }

            #contact .container .texte{
                width: 70%; 
                margin-bottom: 2rem;
            }

                #contact .container .texte h1{
                    margin-bottom: 1rem;
                }


        #contact .infos{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            width: 100%;
        }
        
        #contact .infos div{
            display: flex;
            align-items: center;
            
            margin-bottom: 20px;
        }

                #contact .infos div a{
                    text-decoration: none;
                    color: black;
                    
                }

                #contact .infos div i{
                    margin-right: 20px;
                    font-size: 1.5em;
                }
                


        /* Formulaire */
        #contact form{
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
            background-color: white;
            height: 60%;
            width: 40%;
            padding: 3rem 4rem;

            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 60%;

            right: 10%;
            position: absolute;
        }

            #contact form .container{
                display: flex;
                flex-direction: row;
                width: 80%;
                padding: 0;

                background-color: transparent;
            }


                #contact form input{
                    padding: 0.5rem 2rem 0.5rem 0.5rem;
                    font-family: "Lato", sans-serif ;
                    border: solid 1px;
                    margin-top: 10px;
                }

                #contact form .flex-column textarea{
                    padding: 5px 5px 5rem;
                    font-family: "Lato", sans-serif;
                    margin-top: 10px;
                    border: solid 1px black;
                }


            #contact form input.btn{
                background-color: #F9E6E0;
                border: none;
                width: 30%;
                margin-top: 30px;
                padding: 0.5rem 2rem;
                transition: 0.4s;
            }

                #contact form input.btn:hover{
                    box-shadow: 2px 2px rgba(0, 0, 0, 0.411);
                }


            #contact form .check{
                display: flex;
                margin-top: 1rem;
            }

                #contact form .check span{
                    width: 80%;
                }


                #contact form .check input{
                    margin-right: 10px;
                }

            #contact form h1{
                margin-bottom: 20px;
            }



        /* Section Localisation */
        .section-localisation{
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }

            .section-localisation iframe{
                width: 100%;
                margin-top: 40px;
            }


        /* Footer */
        footer{
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            align-items: center;
            margin: 0 auto;

            background-color: #F9E6E0;
        }

            footer div{
                display: flex;
            }

                footer div nav ul li{
                    list-style: none;
                }


            footer .centre{
                align-items: center;
                display: flex;
                justify-content: space-between;

                height: 15vh;
            }

                footer .centre div{
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                }

                    footer .centre div i{
                        font-size: 30px;
                        transition: 0.4s;
                    }

                        footer .centre div i:hover{
                            transform: scale(1.125);
                        }

                footer .centre img{
                    width: 50%;
                }


            footer .droite{
                text-align: end;
                align-items: end;
                width: 20%;
            }

                footer .droite input{
                    width: 70%;
                    margin-top: 10px;

                    padding: 0.5rem 2rem 0.5rem 0.5rem;
                    font-family: "Lato", sans-serif ;
                    border: none;
                    margin-top: 10px;
                }

                footer .droite input.btn{
                background-color: transparent;
                border: solid 1px;
                width: 70%;
                border-radius: 8px;
                padding: 0.5rem 2rem;
                transition: 0.4s;
                }

                    footer .droite input.btn:hover{
                        box-shadow: 2px 2px rgba(0, 0, 0, 0.411);
                    }



@media screen and (min-width: 200px) {
        /* Typographie */
    h1{
        font-size: 24px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 15px;
    }

    h4{
        font-size: 12px;
    }

    p{
        font-size: 12px;
    }

    a{
        font-size: 12px;
    }



    /* Boutons */
    section a:not(#contact a){
    background-color: #F9E6E0;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0.6rem 0;

    text-decoration: none;
    color: black;
    font-family: "Libre Baskerville", serif;

    transition: 0.3s;
}

    /* Header */
    header{
        flex-direction: column;
        padding: 1rem;

        margin-bottom: 3rem;
    }

        header nav{
            width: 100%;
        }
        
        header nav ul{
            flex-direction: column;
            align-items: center;
            height: 200px;
            justify-content: space-between;
        }


            header img{
                width: 40%;
                margin-bottom: 1rem;
            }

            header nav ul li a{
                font-size: 12px;
            }


    /* Section Présentation */
    #présentation{
        flex-direction: column;
        margin-bottom: 5rem;
    }

        #présentation img{
            position: initial;

            width: 90%;
            height: 60vh;
            margin-bottom: 3rem;

            object-fit: cover;
        }

        #présentation div{
            position: initial;
            width: 100%;
            height: 100%;
            padding: 2rem;
        }

            #présentation div h1{
                margin-bottom: 1.5rem;
            }

            #présentation div a{
                margin-top: 2rem;
            }

    /* Section à propos */
    #about{
        flex-direction: column;
        margin-bottom: 4rem;
        width: 100%;
    }

        #about div{
            width: 80%;
        }

        #about img{
            width: 80%;
            margin-top: 2rem;
        }


    /* Section services */
    #services h1{
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    #services article.left, #services article.right{
        width: 100%;
        margin-bottom: 5rem;
    }
    

    #services .left{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    
    #services .right{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        float: none;
    }
    
        #services .right p, #services .right h2, #services .left h2, #services .left p{
            text-align: center;
            margin-bottom: 1rem;
        }
    
    
    /* Section Pourquoi */
    #pourquoi{
        margin-bottom: 5rem;
    }

        #pourquoi h1{
            margin-bottom: 2rem;
        }

        #pourquoi .row-1, #pourquoi .row-2{
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
        }

            #pourquoi article{
                width: 80%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }


    #contact{
        flex-direction: column;
        height: 100%;
        margin-bottom: 5rem;
    }

        #contact .container{
            display: initial;
            width: 100%;
            margin-bottom: 40px; 
        }

        
        #contact form{
            position: initial;
            width: 100%;
        }
        
            #contact form .container{
                flex-direction: column;
            }

            #contact form input.btn{
                width: 100%;
            }


    /* Footer */
    footer{
        flex-direction: column;
    }

        footer div{
            margin-bottom: 3rem;
        }

        footer .droite{
            text-align: center;
            align-items: center;
            width: 100%;
        }

            footer .droite input{
                width: 50%;
            }

            footer .droite input.btn{
                width: 50%;
            }














}
                
